<style>
    table{
        width: 1230px;
        font-family: verdana,arial,sans-serif;
        font-size: 1.05em;
        border-collapse: collapse;
    }
    tr:hover {
        background-color: #F4F5F7;
        transition:background-color 0.1s linear;
    }
    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        font-weight: 500;
        border-color: #C1C1C1;
        background-color: #F5FAFE;
        text-align: center;
    }
    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #C1C1C1;
        text-align: center;
    }

</style>