[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[dev-packages]

[packages]
requests = "*"
django = "==1.9.13"
django-crontab = "*"
tencentyun = "*"
qcloud-image = "*"
mysqlclient = "*"
pillow = "*"

[requires]
python_version = "3.7"
