
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:competition:competition' mod.id %}" method="post">
<table>
    <tr><td>name：</td><td><input name="name" type="text" value="{{ mod.name }}" /></td></tr><tr><td>content：</td><td><input name="content" type="text" value="{{ mod.content }}" /></td></tr><tr><td>deadline：</td><td><input name="deadline" type="datetime" value="{{ mod.deadline }}" /></td></tr><tr><td>time_started：</td><td><input name="time_started" type="datetime" value="{{ mod.time_started }}" /></td></tr><tr><td>time_ended：</td><td><input name="time_ended" type="datetime" value="{{ mod.time_ended }}" /></td></tr><tr><td>time_created：</td><td><input name="time_created" type="datetime" value="{{ mod.time_created }}" /></td></tr><tr><td>allow_user：</td><td><input name="allow_user" type="checkbox" value="{{ mod.allow_user }}" /></td></tr><tr><td>allow_team：</td><td><input name="allow_team" type="checkbox" value="{{ mod.allow_team }}" /></td></tr><tr><td>is_enabled：</td><td><input name="is_enabled" type="checkbox" value="{{ mod.is_enabled }}" /></td></tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='activity_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='activity_admin' lb='competition' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='activity_admin' lb='competition' rb='competition' %}{% endblock %}

{% block css %}
<style>
    form {
        padding: 30px;
    }
    form img {
        width: 100px;
        height: 100px;
    }
    td {
        padding: 5px 8px;
        vertical-align: top;
    }

    input[type=text], input[type=email], input[type=date], textarea {
        border: 2px solid #C5DBAD;
    }

    input[type=radio] {
        margin-right: 5px;
    }

    input[type=radio] ~ input {
        margin-left: 15px;
    }

    .buttons {
        float: right;
    }

    input[type=submit], input[type=reset] {
        border: 0 none;
        border-radius: 3px;
        padding: 2px 5px;
        background: #85A365;
        color: white;
        margin-left: 10px;
        margin-top: 10px;
    }

    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
