{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="width:1000px;margin:30px">
    <tr>
        <th>标题</th>
        <th class="min-width-150">操作</th>
    </tr>
    {% if list %}
    {% for item in list %}
        <tr>
            <td style="min-width: 200px;">{{ item.activity.name }}</td>
            <td><a href="{% url 'admin:admin_activity:view' item.activity.id %}">
                <i class="icon Hui-iconfont">&#xe725;</i>查看</a>
                {% if 'z' in user.role %}
                &nbsp;&nbsp;&nbsp;<a href="{% url 'admin:admin_activity:edit' item.activity.id %}">
                    <i class="icon Hui-iconfont">&#xe692;</i>修改</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% else %}
        <tr><td colspan="2" style="text-align: left">没有数据</td></tr>
    {% endif %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_activity' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_activity' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_activity' lb=1 rb='view' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
{% endblock %}
