{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table>
    <tr>
        {% for item in list %}
            <td>标题： {{ list.activity.name }}</td>
            <td><a href="{% url 'admin:admin_activity:view' list.activity.id %}">查看</a></td>
        {% endfor %}
    </tr>
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_activity' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_activity' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_activity' lb=1 rb='view' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% endblock %}
