{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:admin_activity:view' model.id %}" method="post">
<table>
    <tr>
        <td>标题：</td>
        <td><input name="name" type="text" value="{{ model.name }}" /></td>
    </tr>
    <tr>
        <td>详细内容：</td>
        <td><textarea name="content">{{ model.content }}</textarea></td>
    </tr>
    <tr>
        <td>截至日期：</td>
        <td><input name="deadline" type="datetime" value="{{ model.deadline }}" /></td>
    </tr>
    <tr>
        <td>开始时间：</td>
        <td><input name="time_started" type="datetime" value="{{ model.time_started }}" /></td>
    </tr>
    <tr>
        <td>结束时间：</td>
        <td><input name="time_ended" type="datetime" value="{{ model.time_ended }}" /></td>
    </tr>
    <tr>
        <td>报名类型：</td>
        <td><input name="allow_user" type="checkbox" {% if model.allow_user %}checked="checked" {% endif %}/> 创友 <input name="allow_team" type="checkbox" {% if model.allow_team %}checked="checked" {% endif %}/> 团队</td>
    </tr>
    <tr>
        <td>活动阶段：</td>
        <td>
            <select name="stage_status">
                <option value="0"{% if model.stages.get.status == 0 %} selected="selected"{% endif %}>前期宣传</option>
                <option value="1"{% if model.stages.get.status == 1 %} selected="selected"{% endif %}>报名</option>
                <option value="2"{% if model.stages.get.status == 2 %} selected="selected"{% endif %}>结束</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>省：</td>
        <td><input name="stage_province" type="text" value="{{ model.stages.get.province }}" /></td>
    </tr>
    <tr>
        <td>市：</td>
        <td><input name="stage_city" type="text" value="{{ model.stages.get.city }}" /></td>
    </tr>
    <tr>
        <td>学校：</td>
        <td><input name="stage_school" type="text" value="{{ model.stages.get.school }}" /></td>
    </tr>
    <tr>
        <td>参与者类型：</td>
        <td>
            <select name="stage_user_type">
                <option value="0"{% if model.stages.get.user_type == 0 %} selected="selected"{% endif %}>不限</option>
                <option value="1"{% if model.stages.get.user_type == 1 %} selected="selected"{% endif %}>学生</option>
                <option value="2"{% if model.stages.get.user_type == 2 %} selected="selected"{% endif %}>教师</option>
                <option value="3"{% if model.stages.get.user_type == 3 %} selected="selected"{% endif %}>社会人员</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>报名者：</td>
        <td>
            {% for user in model.user_participators.all %}
                <div>{{ user.username }}</div>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            {{ msg }}
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>

</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_activity' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_activity' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_activity' lb=1 rb='add' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% endblock %}
