{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table>
    <tr>
        <td>标题：</td>
        <td>{{ model.name }}</td>
    </tr>
    <tr>
        <td>详细内容：</td>
        <td>{{ model.content }}</td>
    </tr>
    <tr>
        <td>截至日期：</td>
        <td>{{ model.deadline }}</td>
    </tr>
    <tr>
        <td>开始时间：</td>
        <td>{{ model.time_started }}</td>
    </tr>
    <tr>
        <td>结束时间：</td>
        <td>{{ model.time_ended }}</td>
    </tr>
    <tr>
        <td>人数上限：</td>
        <td>{{ model.allow_user }}</td>
    </tr>
    <tr>
        <td>活动阶段：</td>
        <td>
            <select name="stage_status">
                <option value="0"{% if model.stages.get.status == 0 %} selected="selected"{% endif %}>前期宣传</option>
                <option value="1"{% if model.stages.get.status == 1 %} selected="selected"{% endif %}>报名</option>
                <option value="2"{% if model.stages.get.status == 2 %} selected="selected"{% endif %}>结束</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>省：</td>
        <td>{{ model.stages.get.province }}</td>
    </tr>
    <tr>
        <td>市：</td>
        <td>{{ model.stages.get.city }}</td>
    </tr>
    <tr>
        <td>学校：</td>
        <td>{{ model.stages.get.school }}</td>
    </tr>
    <tr>
        <td>参与者类型：</td>
        <td>
            {% if model.stages.get.user_type == 0 %}不限{% endif %}
            {% if model.stages.get.user_type == 1 %}学生{% endif %}
            {% if model.stages.get.user_type == 2 %}教师{% endif %}
            {% if model.stages.get.user_type == 3 %}社会人员{% endif %}
        </td>
    </tr>
    <tr>
        <td>报名者：</td>
        <td>
            {% for user in model.user_participators.all %}
                <div>{{ user.username }}</div>
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_activity' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_activity' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_activity' lb=1 rb='' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
table {
    border-collapse: collapse;
    margin: 30px;
}
table td {
    border: 1px solid #999;
}
</style>
{% endblock %}
