{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript">
    console.log(123);
    console.log('{{model.experts}}');
    console.log('{{model.experts_}}');
</script>
<table style="width:1050px;margin:30px;">
    <tr>
        <td>标题</td>
        <td colspan="3">{{ model.name }}</td>
    </tr>
    <tr>
        <td>标签</td>
        <td>{{ model.tag }}</td>

        <td>类型</td>
        <td>{{ model.type }}</td>
    </tr>
    <tr rowspan="">
        <td>详细内容</td>
        <td colspan="3">{{ model.content }}</td>
    </tr>
    <tr>
        <td>截至日期</td>
        <td>{{ model.deadline }}</td>

        <td>参与者类型</td>
        <td>
            {% if model.user_type == 0 %}不限{% endif %}
            {% if model.user_type == 1 %}学生{% endif %}
            {% if model.user_type == 2 %}教师{% endif %}
            {% if model.user_type == 3 %}社会人员{% endif %}
        </td>
    </tr>
    <tr>
        <td>开始时间</td>
        <td>{{ model.time_started }}</td>
    
        <td>结束时间</td>
        <td>{{ model.time_ended }}</td>
    </tr>
    <tr>
        <td>人数上限</td>
        <td>{{ model.allow_user }}</td>
    
        <td>省</td>
        <td>{{ model.province }}</td>
    </tr>
    <tr>
        <td>市</td>
        <td>{{ model.city }}</td>
    
        <td>机构</td>
        <td>{{ model.unit }}</td>
    </tr>
    
    <tr>
        <td>当前活动阶段</td>
        <td colspan="3">
            {% if model.status == 0 %}前期宣传{% endif %}
            {% if model.status == 1 %}报名{% endif %}
            {% if model.status == 2 %}结束{% endif %}
        </td>
    </tr>
    {% for stage in stages %}
        <tr>
            <td>活动阶段{{forloop.counter}}</td>
            <td>
                类　　型：{% if stage.status == 0 %}前期宣传{% endif %}{% if stage.status == 1 %}报名{% endif %}{% if stage.status == 2 %}结束{% endif %}
            </td>
            <td>开始时间：{{ stage.time_started }}</td>
            <td>结束时间：{{ stage.time_ended }}</td>
        </tr>
    {% endfor %}

    <tr>
        <td>活动成果发布</td>
        <td colspan="3">{{ model.achievement }}</td>
    </tr>
    <tr>
        <td colspan="4">活动评论</td>
    </tr>
    <tr>
        {% for comm in comment %}
            <td colspan="1">评论时间</td>
            <td colspan="3">评论内容</td>
        {% endfor %}
    </tr>
</table>
<div class="banner width-1050">报名者
    <a class="btn buttons mt-f5" href="{% url 'admin:admin_activity:excel' model.id %}">导出Excel</a>
</div>

<table style="width:1050px;margin:30px;">
    <tr>
        <th>用户</th>
        <th>报名时间</th>
        <th>联系方式</th>
        <th>省 市 区</th>
    </tr>
    {% if model.user_participators.all %}
        {% for user in model.user_participators.all %}
        <tr>
            <td>{{ user.user.name }}</td>
            <td>{{ user.time_created }}</td>
            <td>{{ user.user.phone_number }}</td>
            <td>{{ user.user.province }} {{ user.user.city }} {{ user.user.county }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <td colspan="4" style="text-align:left;">没有数据</td>
    {% endif %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_activity' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_activity' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_activity' lb=1 rb='' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
<style>
    td{
        border: 1px solid #C1C1C1;
    }
</style>
{% endblock %}

