
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:forum:forum_board' mod.id %}" method="post">
<table>
    <tr><td>name：</td><td><input name="name" type="text" value="{{ mod.name }}"  maxlength="20" /></td></tr><tr><td>description：</td><td><textarea name=description>{{ mod.description }}</textarea></td></tr><tr><td>owner：</td><td><a href="{% url "admin:forum:user" mod.owner.id %}">{{ mod.owner.id }}</a></td></tr><tr><td>time_created：</td><td><input name="time_created" type="text" readonly data-field="datetime" value="{{ mod.time_created }}" /></td></tr><tr><td>is_system_board：</td><td><input name="is_system_board" type="checkbox" value="{{ mod.is_system_board }}" /></td></tr><tr><td>is_enabled：</td><td><input name="is_enabled" type="checkbox" value="{{ mod.is_enabled }}" /></td></tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='forum_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='forum_admin' lb='forum' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='forum_admin' lb='forum' rb='forum_board' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
