
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:forum:forum_board' mod.id %}" method="post">
<table>
    {% include "parts/input_control.html" with text="name" name="name" type="text" maxlen="20" value=mod.name %}{% include "parts/input_control.html" with text="description" name="description" type="text" maxlen="100" value=mod.description %}<tr><td>owner：</td><td><a href="{% url "admin:user:user" mod.owner.id %}">{{ mod.owner.id }}</a></td></tr>{% include "parts/input_control.html" with text="time_created" name="time_created" type="datetime" maxlen="{{maxlen}}" value=mod.time_created %}{% include "parts/input_control.html" with text="is_system_board" name="is_system_board" type="checkbox" maxlen="{{maxlen}}" value=mod.is_system_board %}{% include "parts/input_control.html" with text="is_enabled" name="is_enabled" type="checkbox" maxlen="{{maxlen}}" value=mod.is_enabled %}
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='forum_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='forum_admin' lb='forum' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='forum_admin' lb='forum' rb='forum_board' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
