{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:paper:edit' model.id %}" method="post">
<table>
    <tr>
        <td>问卷名称：</td>
        <td><input name="name" type="text" value="{{ model.name }}" maxlength="50" required/></td>
    </tr>
    <tr>
        <td>问卷描述：</td>
        <td><textarea name="desc" maxlength="1000" required>{{ model.desc }}</textarea></td>
    </tr>
    <tr>
        <td>问题描述：</td>
        <td>
            <input name="questions" type="hidden" value=""/>
            <input id="add_question" type="button" value="新增" style="margin-top: 0px;" />
        </td>
    </tr>
    {% for question in questions %}
        <tr class="question">
            <td>问题{{forloop.counter}}</td>
            <td>
                类　　型：<select onchange="javascript:question_gen()">
                    <option value="0"{% if question.type == 0 %} selected="selected"{% endif %}>简答题</option>
                    <option value="1"{% if question.type == 1 %} selected="selected"{% endif %}>单选题</option>
                    <option value="2"{% if question.type == 2 %} selected="selected"{% endif %}>多选题</option>
                </select><input class="remove_question" type="button" value="删除" style="margin-top: 0px;" /><br/>
                标题：<input type="text" onchange="javascript:question_gen()" value="{{ question.time_started }}" /><br/>
                选项(多个选项用Enter分割)：<br/><textarea width="300px" onchange="javascript:question_gen()" value="{{ question.time_ended }}" /></textarea>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>活动成果发布：</td>
        <td colspan="3"><textarea name="achievement" maxlength="1000">{{ model.achievement }}</textarea></td>
    </tr>
    <tr>
        <td colspan="2">
            {{ msg }}
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
                <input type="button" class="btn4 ml-10" value="审核通过" onclick="verify({{model.id}})">
            </div>
        </td>
    </tr>
</table>
<script>
var question_count = {{ questions|length }};

function verify(id){
    r = confirm("确认？");
    if(r){
        alert("通过审核");
        // $.post('')
        // .then(function() {
        //     alert();
        // })
        // .fail(function() {
        //     alert("审核失败");
        // });
    }
}

</script>

</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_activity' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_activity' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_activity' lb=1 rb='add' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'js/paper.js' %}"></script>
{% endblock %}
