* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}
li {
    text-align: center;
}
li:hover {
    cursor: pointer;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64.5px;
}

.top img {
    width: 116px;
    height: 44.5px;
    margin-left: 10px;
    margin-top: 10px;
}

.top .topbar {
    display: inline-block;
    margin-left: 50px;
}

.topbar ul {
    position: fixed;
    top: 0;
    left: 150px;
    right: 0;
    height: 64.5px;
}

.topbar li {
    display: inline-block;
    margin: 12px 5px;
    padding: 3px 15px;
    font-size: 17px;
    line-height: 34.5px;
    background: none;
    border-radius: 10px;
}
.topbar li:hover {
    background: #EB3F2F;
    /*transition:background-color 1s linear;*/
}
.topbar li:hover a {
    color: #fff;
}
.topbar li.active {
    background: #EB3F2F;
}
.topbar li.active a {
    color: #fff;
}

.left {
    background: #F4F5F7;
    position: fixed;
    top: 64.5px;
    bottom: 0;
    left: 0px;
    width: 200px;
    border-right: 1px solid #E2ECDD;
    box-sizing: border-box;
    /*font-size: 0.9em;*/
}

.left .leftbar {
    margin: 0px;
    background:#FFFFFF;
    height:100%;
    box-shadow: 5px -1px 10px #888888;
}

/*.leftbar ul {
    border: 1px solid #E2ECDD;
}*/

/*.leftbar li::before {
    content: "*";
}
.leftbar li.active::before {
    color: #85A365;
}*/
.leftbar ul {
    padding-top:10px;
}
.leftbar li {
    padding: 15px 0;
    /*border-bottom: 1px solid #E2ECDD;
    border-bottom-style: dashed;*/
}
.leftbar li:hover {
    background: #F2F7F8;
    transition:background-color 0.3s linear;
}
.leftbar li:hover a {
    color: #3FB5FA;
}
.leftbar li.active {
    background: #F2F7F8;
}
.leftbar li.active a {
    color: #3FB5FA;
}
/*.leftbar li:last-child {
    border-bottom: 0px none;
}*/

.right {
    background: #F4F5F7;
    position: fixed;
    top: 64.5px;
    bottom: 0;
    left: 200px;
    right: 0;
    box-sizing: border-box;
    font-size: 0.9em;
}

.container {
    border-bottom: 1px solid #E2ECDD;
}

.rightbar {
    /*margin-top: 30px;*/
    border-top: 1px solid #E2ECDD;
}

.rightbar ul {
    /*background: #C4D9AE;*/
    /*#F01B2D,#EB3F2F*/
    background: -webkit-linear-gradient(left, #0198CA , #00BBD9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #0198CA, #00BBD9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #0198CA, #00BBD9); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #0198CA , #00BBD9); /* 标准的语法 */
    /*margin: 20px;*/
    padding-left: 20px;
}

.rightbar li {
    display: inline-block;
    margin: 12px 0px;
    padding: 8px 20px;
}
.rightbar li:hover {
    border-color: #fff;
    border-style:double none;
    transition:background-color 0.3s linear;
}
.rightbar li.active {
    border-color: #fff;
    border-style:double none;
}

.rightbar li a {
    color: #fff;
}

.content {
    background: white;
    position: fixed;
    top: 150px;
    bottom: 30px;
    left: 220px;
    right: 20px;
    overflow-y: auto;
}

.mobile {
    display: none;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
    font-size: 14px;
}
footer a {
    display: inline-block;
}

.content table td a {
    color: #00ACD3;
    text-decoration: none;
}
.content table td a:hover {
    color: blue;
    text-decoration: underline;
}