.mobile {
    display: block;
}

body {
    background-color: #BED5A7;
}

.top {
    background-color: white;
}

.top .topbar {
    display: none;
}

.top img {
    margin-left: 40px;
    vertical-align: bottom;
}

#navbtn {
    position: absolute;
    display: block;
    font-size: 1.3rem;
    line-height: 25px;
    text-align: center;
    top: 20px;
    left: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid #85A365;
    color: #85A365;
    border-radius: 5px;
}

.top .mobile {
    font-size: 26px;
    color: #EC8F27;
    display: inline-block;
    margin-left: 20px;
    height: 44.5px;
    line-height: 44.5px;
}

.left {
    display: none;
}

.right {
    left: 0px;
}

.rightbar {
    margin-top: 0px;
}

.rightbar ul {
    white-space: nowrap;
    overflow-x: auto;
}

.content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 90px;
    bottom: 25px;
    background-color: #F4F5F7;
}

.content > form {
    padding: 5px !important;
    font-size: 0.8rem;
}

.right table {
    background-color: white;
    margin: 0 auto;
}

td {
    padding: 5px 2px;
}

#mobilebar {
    z-index: 999;
    position: absolute;
    top: 65px;
    left: -100%;
    bottom: 0px;
    background: #C4D9AE;
}
#mobilebar li {
    background: #C4D9AE;
}
#mobilebar li.active {
    background: #84A463;
}
#mobilebar li.active > a {
    color: white;
}
#mobilebar a {
    display: block;
    padding: 8px 15px;
}

#mobilebar2 li {
    background: white;
    font-size: 0.9rem;
}
#mobilebar2 li.active {
    background: #eee;
}
#mobilebar2 li.active > a {
    color: black;
}
#mobilebar2 a {
    display: block;
    padding: 3px 15px;
}