*{word-wrap:break-word}
input,button,textarea,select,optgroup,option{font-family:"Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";font-size:14px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}

input,button{overflow: visible;vertical-align:middle;outline:none}
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"]{-webkit-appearance:none;outline:none}
th,td,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";font-size:14px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}

h1,h2,h3,h4,h5,h6{font-size:100%}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:none;outline:none}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}

*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}

input[type="text"],input[type="email"],input[type="password"],input[type="number"],textarea,select{
    border-color: #C1C1C1;
    height: 30px;
    padding: 6px 12px;
    font-size: 1.05em;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #C1C1C1;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select{
    padding: 3px 12px;
}
textarea{
    width: 300px;
    height: 100px;
}

input[type="text"]:focus:hover,input[type="email"]:focus,input[type="password"]:focus,input[type="number"]:focus{
    border:1px solid #3FB5FA;
    -moz-box-shadow: 0px 0px 5px 0px #888888; /* 老的 Firefox */
    box-shadow: 0px 0px 5px 0px #888888;
}
input[type=radio] {
    margin-right: 5px;
}

input[type=radio] ~ input {
    margin-left: 15px;
}
input[type="checkbox"]{}
select:focus{
    border:1px solid #3FB5FA;
    -moz-box-shadow: 0px 0px 5px 0px #888888; /* 老的 Firefox */
    box-shadow: 0px 0px 5px 0px #888888;
}


table td{
    vertical-align: middle;
}

input[type=submit],input[type=reset],input[type=button] {
        width: 65px;
        height: 30px;
        background: #55CE63;
        color: white;
        border: 0 none;
        font-size: 1em;
        border-radius: 3px;
}
input[type=reset] {
        background: #C1C1C1;
}
input[type=submit]:hover {
        background: #55DF63;
}
input[type=reset]:hover {
        background: #d0d0d0;
}

.btn{
    padding: 5px 8px;
    height: 30px;
    background: #55CE63;
    color: white;
    border: 0 none;
    font-size: 1em;
    border-radius: 3px;
}
.feachBtn{
    border-color: #C1C1C1;
    display: block;
    width: 85px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
}
.bc-gray{
    background-color: #C1C1C1;
}
.c-white{
    color: #fff;
}
.display-inline{
    display: inline;
}
.pos-abs{
    position: absolute;
}
.pos-rel{
    position: relative;
}
.width-100{
    width: 100px;
}
.width-1000{
    width: 1000px;
}
.width-1050{
    width: 1050px;
}
.mt-f5{ margin-top: -5px;}.mt-5{ margin-top: 5px;}.mt-10{ margin-top: 10px;}.mt-15{ margin-top: 15px;}.mt-20{margin-top: 20px;}
.mr-5{margin-right: 5px;}.mr-10{margin-right: 10px;}.mr-15{margin-right: 15px;}.mr-20{margin-right: 20px;}
.mb-5{margin-bottom: 5px;}.mb-10{margin-bottom: 10px;}.mb-15{margin-bottom: 15px;}.mb-20{margin-bottom: 20px;}
.ml-5{margin-left: 5px;}.ml-10{margin-left: 10px;}.ml-15{margin-left: 15px;}.ml-20{margin-left: 20px;}
table{
    border-collapse: collapse;
}
span{
    display: inline-block;
    width: 100px;
    margin: 10px 2px;
    text-align: right;
}
form {
    padding: 30px;
}
form img {
    width: 100px;
    height: 100px;
}
td {
    padding: 5px 8px;
    vertical-align: top;
}
input.tiny {
    width: 60px;
}

.banner{
    margin: 10px 30px 0px 30px;
    padding: 8px 10px;
    background-color: #F5FAFE;
}
