{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="margin:30px">
    <tr>
        <td>用户</td>
        <td style="min-width: 450px">内容</td>
        <td>时间</td>
    </tr>
    {% for item in list %}
        <tr>
            <td>{{ item.user.name }}</td>
            <td>{{ item.content }}</td>
            <td>{{ item.time_created }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='feedback' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='feedback' lb='feedback' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='feedback' lb='feedback' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
table {
    border-collapse: collapse;
}
table td {
    border: 1px solid #999;
}
table tr:nth-child(1) td {
    text-align: center;
}
</style>
{% endblock %}
