{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="margin:30px">
    <tr>
        <th class="min-width-100">用户</th>
        <th style="min-width: 450px">内容</th>
        <th class="min-width-150">时间</th>
    </tr>
    {% if list %}
    {% for item in list %}
        <tr>
            <td>{{ item.user.name }}</td>
            <td>{{ item.content }}</td>
            <td>{{ item.time_created }}</td>
        </tr>
    {% endfor %}
    {% else %}
        <tr><td colspan="3" style="text-align: left">没有数据</td></tr>
    {% endif %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='feedback' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='feedback' lb='feedback' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='feedback' lb='feedback' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
<style>

</style>
{% endblock %}
