{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="margin:30px">
    <tr>
        <th>用户</th>
        <th style="min-width: 450px">内容</th>
        <th>举报对象</th>
        <th>时间</th>
        <th>操作</th>
    </tr>
    {% for item in list %}
        <tr>
            <td>{{ item.user.name }}</td>
            <td>{{ item.content }}</td>
            <td>
                {% if item.type == 'user' %}
                    <a href="{% url 'admin:user:user' item.object_id %}">用户{{ item.object_id }}</a>
                {% endif %}
                {% if item.type == 'team' %}
                    <a href="{% url 'admin:team:team' item.object_id %}">团队{{ item.object_id }}</a>
                {% endif %}
                {% if item.type == 'need' %}
                    <a href="{% url 'admin:team:team_need' item.object_id %}">团队需求{{ item.object_id }}</a>
                {% endif %}
                {% if item.type == 'task' %}
                    <a href="{% url 'admin:user:user' item.object_id %}">用户{{ item.object_id }}</a>
                {% endif %}
                {% if item.type == 'activity' %}
                    <a href="{% url 'admin:activity:activity' item.object_id %}">活动{{ item.object_id }}</a>
                {% endif %}
                {% if item.type == 'competition' %}
                    <a href="{% url 'admin:competition:competition' item.object_id %}">竞赛{{ item.object_id }}</a>
                {% endif %}
                {% if item.type == 'action' %}
                    <a href="{% url 'admin:user:user' item.object_id %}">用户{{ item.object_id }}</a>
                {% endif %}
                {% if item.type == 'forum' %}
                    <a href="{% url 'admin:user:user' item.object_id %}">用户{{ item.object_id }}</a>
                {% endif %}
            </td>
            <td>{{ item.time_created }}</td>
            <td><button onclick="javascript:deal({{ item.id }}, true, '{{ item.type }}')">处理</button> <button onclick="javascript:deal({{ item.id }}, false)">忽略</button></td>
        </tr>
    {% endfor %}
</table>
<script>
    function deal(id, ban, type) {
        $.post("report/" + id, {
            ban: ban && type == 'user'
        }).done(function() {
            location.reload();
        });
    }
</script>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='feedback' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='feedback' lb='report' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='feedback' lb='report' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
<style>
    table tr:nth-child(1) td {
        text-align: center;
    }
</style>
{% endblock %}
