{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="/admin_users/identify/" method="post">
<table>
    <tr>
        <td>手机号码：</td>
        <td><input name="phone_number" type="text" value="{{ u.phone_number }}" maxlength="11" required/></td>
    </tr>
    <tr>
        <td>旧密码：</td>
        <td><input name="old_pass" type="password" value="" maxlength="20" required/></td>
    </tr>
    <tr>
        <td>新密码：</td>
        <td><input name="new_pass" type="password" value="" maxlength="18"/></td>
    </tr>
    <tr>
        <td>确认新密码：</td>
        <td><input class="pass2" type="password" value="" maxlength="18"/></td>
    </tr>
    <tr>
        <td>短信验证码</td>
        <td class="pos-rel"><input name="valid_code" type="text" value="" required/> 
        <button class="bc-gray pos-abs feachBtn">点击获取</button></td>
    </tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="确定" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>

</form>

<script>
$('button').click(function(e) {
    var count = 60;
    e.preventDefault();
    $.get("http://www.chuangyh.com:8000/users/validation_code/?phone_number=" + $("input[name=phone_number]").val())
        .then(function() {
            const countDown = setInterval(() => {
                if (count === 0) {
                    $('.feachBtn').text('重新获取').removeAttr('disabled');
                    $('.feachBtn').css({
                        background: '#C1C1C1',
                    });
                    clearInterval(countDown);
                } else {
                    $('.feachBtn').attr('disabled', true);
                    $('.feachBtn').text(count + '秒');
                }
                    count--;
            }, 1000);
            // setTimeout(function() {
            //     $("button").prop("disabled", false);
            // }, 60000);
        })
        .fail(function() {
            alert("发送失败，请重试");
        });
});

$('form').submit(function(e) {
    if ($("input[name=new_pass]").val() != $(".pass2").val()) {
        alert('密码不一致');
        e.preventDefault();
    }
});
</script>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb=1 %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb=1 lb=3 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb=1 lb=3 rb=1 %}{% endblock %}

{% block css %}
<style>
    .buttons{
        float: right;
    }

    input[type=text], input[type=password], input[type=email]{
        display: block;
        width: 320px;
    }
    button{
        top: 5px;
        right: 7px;
    }
</style>
{% endblock %}
