{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="" method="get">
    <span>用户名：</span><input type="text" name="name" value="{{name}}" /><br/>
    <span></span><input type="submit" class="mt-10 mr-5" value="搜索" /><input type="reset" class="mt-10" value="取消" />
</form>
{% if list %}
<table style="width:1200px;margin:0 auto;">
    <thead>
        <tr>
            <th class="min-width-50">ID</th>
            <th>用户名</th>
            <th class="min-width-100">操作</th>
        </tr>
        {% for item in list.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td><a href="{% url redir item.id %}"><i class="icon Hui-iconfont">&#xe725;</i>查看</a></td>
        </tr>
        {% endfor %}
    </thead>
</table>
{% endif %}
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_user_admin' lb='1' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_user_admin' lb='1' rb='1' %}{% endblock %}

{% block css %}
{% include 'parts/table_style.html' %}
<style>
    
</style>
{% endblock %}
