{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="width:1000px;margin:30px">
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th class="min-width-150">操作</th>
    </tr>
    {% if list %}
        {% for item in list %}
            <tr>
                <td style="min-width: 200px;">{{ item.competition.id }}</td>
                <td style="min-width: 200px;">{{ item.competition.name }}</td>
                <td>
                    <a href="{% url 'admin:admin_competition:view' item.competition.id %}">查看</a>
                    &nbsp;&nbsp;&nbsp;<a href="{% url 'admin:admin_competition:edit' item.competition.id %}">修改</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="2" style="text-align:left;">没有数据</td>
        </tr>
    {% endif %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_competition' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_competition' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_competition' lb=1 rb='view' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
<style type="text/css">
    
</style>
{% endblock %}
