{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="margin:30px">
    {% for item in list %}
        <tr>
            <td>标题： </td>
            <td style="min-width: 200px;border:1px solid #C4D9AE;">{{ item.competition.name }}</td>
            <td><a href="{% url 'admin:admin_competition:view' item.competition.id %}">查看</a></td>
            {% if user.can_x %}
            <td><a href="{% url 'admin:admin_competition:edit' item.competition.id %}">修改</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_competition' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_competition' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_competition' lb=1 rb='view' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% endblock %}
