{% extends "layout.html" %} 
{% load staticfiles %}
 {% block content %}
<h3 style="text-align: center;margin-top: 30px">
    晋级
</h3>
<table style="margin: 30px;">
    <tr>
        <th width="200px">团队名</th>
        <th width="100px">得分</th>
        <th width="100px">淘汰</th>
    </tr>
    {% for t in teams %}
    <tr>
        <td>{{ t.team.name }}</td>
        <td>{{ t.team.score }}</td>
        <td><button id="button{{ t.team.id }}" onclick="promoteTeam({{ t.team.id }})">淘汰</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 
{% block topbar %}
{% include 'topbar.html' with tb='admin_competition' %}
{% endblock %} 
{% block leftbar %}
{% include 'leftbar.html' with tb='admin_competition' lb=1 %}
{% endblock %}
{% block rightbar %}
{% include 'rightbar.html' with tb='admin_competition' lb=1 rb='' %}
{% endblock %} 
{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
<style>
    
</style>
{% endblock %} 
{% block js %}
<script src="http://static.chuangyh.com/js/lib.js"></script>
<script>
    competitionId = location.pathname.split('/')[3];
    function promoteTeam(teamId) {
        // 设定晋级团队
        // $.post(base_admin_url + 'admin/admin_competition/'+competitionId+'/final/',{
        //     team_id:teamId
        // }).then(function(params) {
        //     alert('该队伍被淘汰！');
        //     $('#button'+teamId).prop('disabled', true);
        // }).fail(errorHandler);
        $.ajax({
            type: 'POST',
            url: base_admin_url + 'admin/admin_competition/'+competitionId+'/final/',
            data: {"team_id": teamId},
            headers: {'X-USER-TOKEN': getCookie('token')},
            error: function (err) {
                showAlert('发生未知错误');
            },
            success: function (res) {
                alert('该队伍被淘汰！');
                $('#button'+teamId).prop('disabled', true);
            }
        });
    }

</script> 
{% endblock %}