{% extends "layout.html" %} 
{% load staticfiles %}
 {% block content %}
<h3 style="text-align: center;margin-top: 30px">
    设定评委
</h3>
<table>
    <tr>
        <td width="200px">团队名</td>
        <td width="100px">得分</td>
        <td width="100px">晋级</td>
        <!-- <td width="150px">评分</td>
        <td width="100px">提交评分</td> -->
    </tr>
    {% for t in teams %}
    <tr>
        <td>{{ t.name }}</td>
        <td>{{ t.score }}</td>
        <td><button id="button{{ t.id }}" onclick="promoteTeam({{ t.id }})">晋级</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 
{% block topbar %}
{% include 'topbar.html' with tb='admin_competition' %}
{% endblock %} 
{% block leftbar %}
{% include 'leftbar.html' with tb='admin_competition' lb=1 %}
{% endblock %}
 {% block rightbar %}
 {% include 'rightbar.html' with tb='admin_competition' lb=1 rb='' %}
 {% endblock %} 
 {% block css %}
 {% include 'parts/input_style.html' %}
<style>
    table {
        border-collapse: collapse;
        margin: 30px;
    }

    table td {
        border: 1px solid #999;
    }
</style>
{% endblock %} 
{% block js %}
<script src="{% static 'js/lib.js' %}"></script>
<!-- <script src="{% static 'ios/js/bootstrap.min.js' %}"></script> -->
<!-- <script src="{% static 'ios/js/bootstrap-dialog.min.js' %}"></script> -->
<script>
    competitionId = location.pathname.split('/')[3]
    function promoteTeam(teamId) {
        // 设定晋级团队
        post('/admin/admin_competition/'+competitionId+'/final/',{
            team_id:teamId
        }).then(function(params) {
            alert('设定成功！');
            $('#button'+teamId).prop('disabled', true);
        }).fail(errorHandler);
    }

</script> 
{% endblock %}