{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table>
    <tr>
        <td>标题：</td>
        <td style="max-width: 500px">{{ model.name }}</td>
    </tr>
    <tr>
        <td>详细内容：</td>
        <td>{{ model.content }}</td>
    </tr>
    <tr>
        <td>截至日期：</td>
        <td>{{ model.deadline }}</td>
    </tr>
    <tr>
        <td>开始时间：</td>
        <td>{{ model.time_started }}</td>
    </tr>
    <tr>
        <td>结束时间：</td>
        <td>{{ model.time_ended }}</td>
    </tr>
    <tr>
        <td>人数上限：</td>
        <td>{{ model.allow_team }}</td>
    </tr>
    <tr>
        <td>省：</td>
        <td>{{ model.province }}</td>
    </tr>
    <tr>
        <td>市：</td>
        <td>{{ model.city }}</td>
    </tr>
    <tr>
        <td>机构：</td>
        <td>{{ model.unit }}</td>
    </tr>
    <tr>
        <td>最少人数：</td>
        <td>{{ model.min_member }}</td>
    </tr>
    <tr>
        <td>最多人数：</td>
        <td>{{ model.max_member }}</td>
    </tr>
    <tr>
        <td>参与者类型：</td>
        <td>
            {% if model.user_type == 0 %}不限{% endif %}
            {% if model.user_type == 1 %}学生{% endif %}
            {% if model.user_type == 2 %}教师{% endif %}
            {% if model.user_type == 3 %}社会人员{% endif %}
        </td>
    </tr>
    <tr>
        <td>当前活动阶段：</td>
        <td>
            {% if model.status == 0 %}前期宣传{% endif %}
            {% if model.status == 1 %}报名{% endif %}
            {% if model.status == 2 %}预赛{% endif %}
            {% if model.status == 3 %}周赛{% endif %}
            {% if model.status == 4 %}月赛{% endif %}
            {% if model.status == 5 %}中间赛{% endif %}
            {% if model.status == 6 %}结束{% endif %}
        </td>
    </tr>
    {% for stage in stages %}
        <tr>
            <td>活动阶段{{forloop.counter}}</td>
            <td>
                类　　型：{% if stage.status == 0 %}前期宣传{% endif %}{% if stage.status == 1 %}报名{% endif %}{% if stage.status == 2 %}预赛{% endif %}{% if stage.status == 3 %}周赛{% endif %}{% if stage.status == 4 %}月赛{% endif %}{% if stage.status == 5 %}中间赛{% endif %}{% if stage.status == 6 %}结束{% endif %}<br/>
                开始时间：{{ stage.time_started }}<br/>
                结束时间：{{ stage.time_ended }}<br/>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>报名者：</td>
        <td>
            {% for team in model.team_participators.all %}
                <div>{{ team.name }}</div>
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='admin_competition' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='admin_competition' lb=1 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='admin_competition' lb=1 rb='' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
table {
    border-collapse: collapse;
    margin: 30px;
}
table td {
    border: 1px solid #999;
}
</style>
{% endblock %}
