{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}创易汇{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/DateTimePicker.min.css' %}" />
    {% block css %}{% endblock %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/DateTimePicker.min.js' %}"></script>
    <script src="{% static 'js/DatetimePicker-i18n-zh-CN.js' %}"></script>
    <script>
        if (navigator.userAgent.indexOf('Mobile') >= 0) {
            var link = document.createElement('link');
            link.setAttribute('href', '{% static 'css/mobile.css' %}');
            link.setAttribute('rel', 'stylesheet');
            document.head.appendChild(link);
            
            var script = document.createElement('script');
            script.setAttribute('src', '{% static 'js/mobile.js' %}');
            document.head.appendChild(script);
        }
    </script>
</head>

<body>
    <div class="top">
        <img src="{% static 'img/logo.png' %}" />
        <div class="topbar">{% block topbar %}{% include 'topbar.html' %}{% endblock %}</div>
        <div class="mobile">后台管理</div>
    </div>
    <div class="left">
        <div class="leftbar">{% block leftbar %}{% include 'leftbar.html' %}{% endblock %}</div>
    </div>
    <div class="right">
        <div class="container">
            <div class="rightbar">{% block rightbar %}{% include 'rightbar.html' %}{% endblock %}</div>
            <div class="content">{% block content %}{% endblock %}</div>
        </div>
    </div>
    <footer>
        <a href="http://www.miitbeian.gov.cn/">京ICP备16066333号</a>
    </footer>
    {% block js %}{% endblock %}
    <div id="dtBox"></div>
    <script>
        $(document).ready(function() {
            setDateTimePicker();

            $('.dir_warn').click(function(e) {
                if (!confirm($(this).data('warn-text'))) {
                    e.preventDefault();
                }
            });
        });
        function displayPopup() {
            if ($(document).width() >= 768) return false;
            return true;
        }
        function setDateTimePicker() {
            var bIsPopup = displayPopup();
            $("#dtBox").DateTimePicker({
                isPopup: bIsPopup,
                language: 'zh-CN'
            });
        }

        $('form').submit(function(e) {
            if ($('[name=time_started]').length > 0 && $('[name=time_end]').length > 0) {
                if (new Date($('[name=time_started]').val()) > new Date($('[name=time_end]').val())) {
                    e.preventDefault();
                    alert('时间设置有误');
                    return false;
                }
            }
            if ($('[name=time_started]').length > 0 && $('[name=deadline]').length > 0) {
                if (new Date($('[name=time_started]').val()) > new Date($('[name=deadline]').val())) {
                    e.preventDefault();
                    alert('时间设置有误');
                    return false;
                }
            }
            if ($('[name=deadline]').length > 0 && $('[name=time_end]').length > 0) {
                if (new Date($('[name=deadline]').val()) > new Date($('[name=time_end]').val())) {
                    e.preventDefault();
                    alert('时间设置有误');
                    return false;
                }
            }
        });

        $('input[name=is_enabled]').click(function(e) {
            if(!$(this).prop('checked') && !confirm('此操作具有一定危险性，是否继续')){
                e.preventDefault();
            }
        });
    </script>
    <script src="/baoming/js/place.js"></script>
</body>

</html>
