{% if tb == 1 %}
<ul>
    <li{% if lb == 1 %} class="active"{% endif %}><a class="dir_warn" data-warn-text="是否注销？" href="{% url 'admin:login' %}">登录注销</a></li>
    {% if user is not None %}
        <li{% if lb == 2 %} class="active"{% endif %}><a href="{% url 'admin:admin_users:info' %}">个人信息修改</a></li>
        <li{% if lb == 3 %} class="active"{% endif %}><a href="{% url 'admin:admin_users:identify' %}">修改手机号、密码</a></li>
        {% if user.can_x %}
            <li{% if lb == 4 %} class="active"{% endif %}><a href="{% url 'admin:register' %}">注册</a></li>
        {% endif %}
    {% endif %}
</ul>
{% endif %}
{% if tb == 'admin_competition' %}
<ul>
    <li class="active"><a href="{% url 'admin:admin_competition:list' %}">竞赛管理</a></li>
</ul>
{% endif %}
{% if tb == 'admin_activity' %}
<ul>
    <li class="active"><a href="{% url 'admin:admin_activity:list' %}">活动管理</a></li>
</ul>
{% endif %}
{% if tb == 'system_admin' %}
<ul>
    <li{% if lb == 'setting' %} class="active"{% endif %}><a href="{% url 'admin:system' %}">系统参数</a></li>
    <li{% if lb == 'notification' %} class="active"{% endif %}><a href="{% url 'admin:notification' %}">系统通知</a></li>
</ul>
{% endif %}
{% if tb == 'feedback' %}
<ul>
    <li{% if lb == 'feedback' %} class="active"{% endif %}><a href="{% url 'admin:feedback:feedback' %}">用户反馈</a></li>
    <li{% if lb == 'report' %} class="active"{% endif %}><a href="{% url 'admin:feedback:report' %}">用户举报</a></li>
</ul>
{% endif %}
{% if tb == 'user_admin' %}
<ul>
    <li{% if lb == 'user' %} class="active"{% endif %}><a href="{% url 'admin:user:user_list' %}">创友</a></li>
    <li{% if lb == 'team' %} class="active"{% endif %}><a href="{% url 'admin:team:team_list' %}">团队</a></li>
</ul>
{% endif %}
{% if tb == 'activity_admin' %}
<ul>
    <li{% if lb == 'activity' %} class="active"{% endif %}><a href="{% url 'admin:activity:activity_list' %}">活动</a></li>
    <li{% if lb == 'competition' %} class="active"{% endif %}><a href="{% url 'admin:competition:competition_list' %}">竞赛</a></li>
</ul>
{% endif %}
{% if tb == 'forum_admin' %}
<ul>
    <li{% if lb == 'forum' %} class="active"{% endif %}><a href="{% url 'admin:forum:forum_board_list' %}">论坛</a></li>
</ul>
{% endif %}
{% if tb == 'admin_user_admin' %}
<ul>
    <li class="active"><a href="{% url 'admin:admin_user:admin_user_list' %}">后台用户</a></li>
</ul>
{% endif %}
{% if tb == 'op_log' %}
<ul>
    <li class="active"><a href="{% url 'admin:op_log' %}">操作日志</a></li>
</ul>
{% endif %}
