{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="/notification/" method="post">
<table>
    <tr>
        <td>消息：</td>
        <td><textarea name="content" type="number" value="" maxlength="500" required="required"></textarea></td>
    </tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="提交" />
            </div>
        </td>
    </tr>
</table>

</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='power' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='power' lb='notification' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='power' lb='notification' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    .buttons {
        float: right;
    }
</style>
{% endblock %}
