{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="margin:30px">
    <tr>
        <th>用户</th>
        <th>对象</th>
        <th>操作</th>
        <th>时间</th>
    </tr>
    {% for item in list %}
        <tr>
            <td><a href="{% url 'admin:admin_user:admin_user' item.user.id %}" target="_blank">{{ item.user.name }}</a></td>
            <td>{{ item.table }}: {{ item.data_id }}</td>
            <td>
                {% if item.operate_type == 1 %}
                <i class="icon Hui-iconfont">&#xe692;</i>修改
                {% endif %}
                {% if item.operate_type == 2 %}
                <i class="icon Hui-iconfont">&#xe600;</i>新增
                {% endif %}
                {% if item.operate_type == 3 %}
                <i class="icon Hui-iconfont">&#xe6e2;</i>删除
                {% endif %}
            </td>
            <td>{{ item.time }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='op_log' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='op_log' lb='1' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='op_log' lb='1' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
<style>
    table tr:nth-child(1) td {
        text-align: center;
    }
</style>
{% endblock %}
