{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:register' %}" method="post">
    <img src="http://static.chuangyh.com/img/user.png" /><br/>
    <input placeholder="用户名" name="username" type="text" maxlength="20" autofocus required><br/>
    <input placeholder="密码" name="password" type="password" value="" minlength="6" maxlength="20" required><br/>
    <input placeholder="手机号" name="phone_number" type="text" maxlength="11" required><br/>
    <select name="role" required>
        <option value="b" checked="checked">活动</option>
        <option value="a">竞赛</option>
        {% if user.can_y %}
            <option value="x">运营</option>
        {% endif %}
        {% if user.can_z %}
            <option value="y">管理员</option>
        {% endif %}
    </select><br/>
    {{ msg }}<br/>
    <input type="submit" value="注册" />
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb=1 %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb=1 lb=4 %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb=1 lb=4 rb=1 %}{% endblock %}

{% block css %}
<style>
    form {
        text-align: center;
        width: 300px;
        margin: 0 auto;
    }

    form * {
        margin-top: 10px;
    }

    form img {
        width: 120px;
        height: 120px;
        margin-top: 50px;
    }

    form input {
        margin-top: 10px;
        padding-left: 5px;
        border: 1px solid #C1C1C1;
        border-radius: 3px;
        font-size: 1.05em;
        width: 300px;
        height: 30px;
    }

    form select {
        margin-top: 10px;
        padding-left: 5px;
        border: 1px solid #C1C1C1;
        border-radius: 3px;
        font-size: 1.05em;
        width: 300px;
        height: 30px;
    }

    form input[type=submit] {
        width: 65px;
        height: 35px;
        margin-left: 235px;
        margin-bottom: 50px;
        background: #55CE63;
        color: white;
        border: 0 none;
        font-size: 1em;
    }
</style>
{% endblock %}
