{% if tb == 1 %}
    {% if lb == 1 %}
        <ul>
            <li{% if rb == 1 %} class="active"{% endif %}><a href="#">登录</a></li>
        </ul>
    {% endif %}
    {% if lb == 2 %}
        <ul>
            <li{% if rb == 1 %} class="active"{% endif %}><a href="#">个人信息修改</a></li>
        </ul>
    {% endif %}
    {% if lb == 3 %}
        <ul>
            <li{% if rb == 1 %} class="active"{% endif %}><a href="#">修改手机号、密码</a></li>
        </ul>
    {% endif %}
    {% if lb == 4 %}
        <ul>
            <li{% if rb == 1 %} class="active"{% endif %}><a href="#">注册</a></li>
        </ul>
    {% endif %}
{% endif %}

{% if tb == 'admin_competition' %}
    {% if lb != 0 %}
        <ul>
            <li{% if rb == 'view' %} class="active"{% endif %}><a href="{% url 'admin:admin_competition:list' %}">查看</a></li>
            {% if user.can_x %}
            <li{% if rb == 'add' %} class="active"{% endif %}><a href="{% url 'admin:admin_competition:add' %}">新增</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endif %}

{% if tb == 'admin_activity' %}
    {% if lb != 0 %}
        <ul>
            <li{% if rb == 'view' %} class="active"{% endif %}><a href="{% url 'admin:admin_activity:list' %}">查看</a></li>
            {% if user.can_x %}
            <li{% if rb == 'add' %} class="active"{% endif %}><a href="{% url 'admin:admin_activity:add' %}">新增</a></li>
            {% endif %}
            <li{% if rb == 'collect' %} class="active"{% endif %}><a href="{% url 'admin:admin_activity:list' %}">活动征集</a></li>
        </ul>
    {% endif %}
{% endif %}

{% if tb == 'power' %}
<ul>
    {% if lb == 'system' %}
        <li class="active"><a href="{% url 'admin:system' %}">系统参数</a></li>
    {% endif %}
    {% if lb == 'role' %}
        <li {% if rb == 'list' %} class="active"{% endif %}><a href="{% url 'admin:system' %}">角色列表</a></li>
        <li {% if rb == 'view' %} class="active"{% endif %}><a href="{% url 'admin:system' %}">角色权限参数</a></li>
    {% endif %}
    {% if lb == 'notification' %}
        <li class="active"><a href="{% url 'admin:notification' %}">系统通知</a></li>
    {% endif %}
</ul>
{% endif %}

{% if tb == 'feedback' %}
    {% if lb == 'feedback' %}
        <ul>
            <li class="active"><a href="{% url 'admin:feedback:feedback' %}">用户反馈</a></li>
        </ul>
    {% endif %}
    {% if lb == 'report' %}
        <ul>
            <li class="active"><a href="{% url 'admin:feedback:report' %}">用户举报</a></li>
        </ul>
    {% endif %}
{% endif %}

{% if tb == 'user_admin' %}
    {% if lb == 'user' %}
        <ul>
            <li{% if rb == 'user' %} class="active"{% endif %}><a href="{% url 'admin:user:user_list' %}">用户信息</a></li>
            <li{% if rb == 'user_comment' %} class="active"{% endif %}><a href="{% url 'admin:user:user_comment_list' %}">用户评论</a></li>
            <li{% if rb == 'user_action_comment' %} class="active"{% endif %}><a href="{% url 'admin:user:user_action_comment_list' %}">用户动态评论</a></li>
        </ul>
    {% endif %}
    {% if lb == 'team' %}
        <ul>
            <li{% if rb == 'team' %} class="active"{% endif %}><a href="{% url 'admin:team:team_list' %}">团队信息</a></li>
            <li{% if rb == 'team_comment' %} class="active"{% endif %}><a href="{% url 'admin:team:team_comment_list' %}">团队评论</a></li>
            <li{% if rb == 'team_action_comment' %} class="active"{% endif %}><a href="{% url 'admin:team:team_action_comment_list' %}">团队动态评论</a></li>
        </ul>
    {% endif %}
{% endif %}

{% if tb == 'activity_admin' %}
    {% if lb == 'activity' %}
        <ul>
            <li{% if rb == 'activity' %} class="active"{% endif %}><a href="{% url 'admin:activity:activity_list' %}">活动信息</a></li>
            <li{% if rb == 'activity_comment' %} class="active"{% endif %}><a href="{% url 'admin:activity:activity_comment_list' %}">活动评论</a></li>
        </ul>
    {% endif %}
    {% if lb == 'competition' %}
        <ul>
            <li{% if rb == 'competition' %} class="active"{% endif %}><a href="{% url 'admin:competition:competition_list' %}">竞赛信息</a></li>
            <li{% if rb == 'competition_notification' %} class="active"{% endif %}><a href="{% url 'admin:competition:competition_notification_list' %}">竞赛通知</a></li>
            <li{% if rb == 'competition_comment' %} class="active"{% endif %}><a href="{% url 'admin:competition:competition_comment_list' %}">竞赛评论</a></li>
        </ul>
    {% endif %}
{% endif %}

{% if tb == 'forum_admin' %}
    {% if lb == 'forum' %}
        <ul>
            <li{% if rb == 'forum_board' %} class="active"{% endif %}><a href="{% url 'admin:forum:forum_board_list' %}">板块信息</a></li>
            <li{% if rb == 'forum_post' %} class="active"{% endif %}><a href="{% url 'admin:forum:forum_post_list' %}">帖子信息</a></li>
        </ul>
    {% endif %}
{% endif %}

{% if tb == 'admin_user_admin' %}
        <ul>
            <li class="active"><a href="{% url 'admin:admin_user:admin_user_list' %}">用户</a></li>
        </ul>
{% endif %}

{% if tb == 'op_log' %}
        <ul>
            <li class="active"><a href="{% url 'admin:op_log' %}">日志</a></li>
        </ul>
{% endif %}
{% if tb == 'net_police' %}
    <ul>
        <li class="active"><a href="{% url 'admin:security_log:list' %}">网警日志查询</a></li>
    </ul>
{% endif %}