{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:system' %}" method="post">
<table>
    <tr>
        <td>版本号：</td>
        <td><input name="version_number" type="number" value="{{ m.VERSION_NUMBER }}" /></td>
    </tr>
    <tr>
        <td>积分分值1：</td>
        <td><input name="score_value_one" type="number" value="{{ m.SCORE_VALUE_ONE }}" /></td>
    </tr>
    <tr>
        <td>积分分值2：</td>
        <td><input name="score_value_two" type="number" value="{{ m.SCORE_VALUE_TWO }}" /></td>
    </tr>
    <tr>
        <td>积分分值3：</td>
        <td><input name="score_value_three" type="number" value="{{ m.SCORE_VALUE_THREE }}" /></td>
    </tr>
    <tr>
        <td>积分分值4：</td>
        <td><input name="score_value_four" type="number" value="{{ m.SCORE_VALUE_FOUR }}" /></td>
    </tr>
    <tr>
        <td>积分分值5：</td>
        <td><input name="score_value_five" type="number" value="{{ m.SCORE_VALUE_FIVE }}" /></td>
    </tr>
    <tr>
        <td>举报封号次数阈值：</td>
        <td><input name="max_reported" type="number" value="{{ m.MAX_REPORTED }}" /></td>
    </tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" class="mr-5" /><input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>

</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='power' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='power' lb='system' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='power' lb='system' %}{% endblock %}

{% block css %}
<style>
    .buttons {
        float: right;
    }

</style>
{% endblock %}
