<ul>
    <li{% if tb == 1 %} class="active"{% endif %}><a href="#">用户</a></li>
    <li{% if tb == 2 %} class="active"{% endif %}><a href="#">竞赛</a></li>
    <li{% if tb == 'activity' %} class="active"{% endif %}><a href="#">活动</a></li>
    <li{% if tb == 'user_admin' %} class="active"{% endif %}><a href="#">用户管理</a></li>
    <li{% if tb == 5 %} class="active"{% endif %}><a href="#">热点管理</a></li>
    <li{% if tb == 6 %} class="active"{% endif %}><a href="#">社区管理</a></li>
    <li{% if tb == 7 %} class="active"{% endif %}><a href="#">系统参数设定</a></li>
    <li{% if tb == 8 %} class="active"{% endif %}><a href="#">意见反馈</a></li>
</ul>
