
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:activity:activity_liker' mod.id %}" method="post">
<table>
    <tr><td>time_created：</td><td><input name="time_created" type="text" readonly data-field="datetime" value="{{ mod.time_created }}" /></td></tr><tr><td>liked：</td><td><a href="{% url "admin:activity:activity" mod.liked.id %}">{{ mod.liked.id }}</a></td></tr><tr><td>liker：</td><td><a href="{% url "admin:activity:user" mod.liker.id %}">{{ mod.liker.id }}</a></td></tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='activity_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='activity_admin' lb='activity' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='activity_admin' lb='activity' rb='activity_liker' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
