{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="" method="get">
    <span>活动名：</span><input type="text" name="name" value="{{name}}" />
    <span>内容：</span><input type="text" name="content" value="{{content}}" />
    <span>机构名：</span><input type="text" name="unit" value="{{unit}}" /><br/>
    <span>所在省：</span><input type="text" name="province" value="{{province}}" />
    <span>所在市：</span><input type="text" name="city" value="{{city}}" /><br/>
    <span></span><input type="submit" class="mt-10 mr-5" value="搜索" /><input type="reset" class="mt-10" value="取消" />
</form>

<table style="width:1200px;margin:0 auto;">
    <thead>
        <tr>
            <th class="min-width-50">ID</th>
            <th>活动名</th>
            <th class="min-width-100">操作</th>
        </tr>
        {% if list %}
        {% for item in list.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                <a href="{% url redir item.id %}">查看</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3" style="text-align:left;">没有数据</td>
        </tr>
        {% endif %}
    </thead>
</table>

{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='activity_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='activity_admin' lb='activity' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='activity_admin' lb='activity' rb=rb %}{% endblock %}

{% block css %}
{% include 'parts/table_style.html' %}
<style>
    
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">

</script>
{% endblock %}
