{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="" method="get" style="text-align:center">
    用户名：<input type="text" name="name" value="{{name}}" />
    手机号：<input type="text" name="phone" value="{{phone}}" />
    机构名：<input type="text" name="unit1" value="{{unit1}}" /><br/>
    所在省：<input type="text" name="province" value="{{province}}" />
    所在市：<input type="text" name="city" value="{{city}}" />
    所在区/县：<input type="text" name="county" value="{{county}}" />
    审核状态：<select name="is_verified">
    <option value="0" {% ifequal is_verified 0 %}checked="checked"{% endifequal %}>未提交</option>
    <option value="1" {% ifequal is_verified 1 %}checked="checked"{% endifequal %}>待审核</option>
    <option value="2" {% ifequal is_verified 2 %}checked="checked"{% endifequal %}>身份证审核通过</option>
    <option value="3" {% ifequal is_verified 3 %}checked="checked"{% endifequal %}>未通过</option>
    <option value="4" {% ifequal is_verified 3 %}checked="checked"{% endifequal %}>eid审核通过</option>
    </select>
    <input type="submit" value="搜索" />
</form>
{% if list %}
<table style="width:700px;margin:0 auto;">
    <thead>
        <tr>
            <td>ID</td>
            <td>用户名</td>
            <td>昵称</td>
            <td>手机号</td>
            <td>地区</td>
            <td>操作</td>
        </tr>
        {% for item in list.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.phone_number }}</td>
            <td>{{ item.province }} {{ item.city }}</td>
            <td><a href="{% url redir item.id %}">查看</a></td>
        </tr>
        {% endfor %}
    </thead>
</table>
{% endif %}
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='user' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='user' rb=rb %}{% endblock %}

{% block css %}
<style>
    form {
        padding: 30px;
    }
    form img {
        width: 100px;
        height: 100px;
    }
    td {
        padding: 5px 8px;
        vertical-align: top;
    }

    input[type=text], input[type=email], input[type=date], textarea {
        border: 2px solid #C5DBAD;
    }

    input[type=radio] {
        margin-right: 5px;
    }

    input[type=radio] ~ input {
        margin-left: 15px;
    }

    .buttons {
        float: right;
    }

    input[type=submit], input[type=reset] {
        border: 0 none;
        border-radius: 3px;
        padding: 2px 5px;
        background: #85A365;
        color: white;
        margin-left: 10px;
        margin-top: 10px;
    }

    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
