
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:user:user_validation_code' mod.id %}" method="post">
<table>
    {% include "parts/input_control.html" with text="phone_number" name="phone_number" type="text" maxlen="11" value=mod.phone_number %}
    {% include "parts/input_control.html" with text="code" name="code" type="text" maxlen="6" value=mod.code %}
    {% include "parts/input_control.html" with text="time_expired" name="time_expired" type="datetime" maxlen="{{maxlen}}" value=mod.time_expired %}
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='user' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='user' rb='user_validation_code' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    
</style>
{% endblock %}
