
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:user:user_tag' mod.id %}" method="post">
<table>
    <tr><td>name：</td><td><input name="name" type="text" value="{{ mod.name }}"  maxlength="20" /></td></tr><tr><td>order：</td><td><input name="order" type="number" value="{{ mod.order }}" /></td></tr><tr><td>entity：</td><td><a href="{% url "admin:user:user" mod.entity.id %}">{{ mod.entity.id }}</a></td></tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='user' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='user' rb='user_tag' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
