
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:user:user' mod.id %}" method="post">
<table>
    {% include "parts/input_control.html" with text="是否启用" name="is_enabled" type="checkbox" maxlen="{{maxlen}}" value=mod.is_enabled %}
    {% include "parts/input_control.html" with text="昵称" name="username" type="text" maxlen="20" value=mod.username %}
    {% include "parts/input_control.html" with text="手机号" name="phone_number" type="text" maxlen="11" value=mod.phone_number %}
    {% include "parts/input_control.html" with text="名字" name="name" type="text" maxlen="15" value=mod.name %}
    {% include "parts/input_control.html" with text="简介" name="description" type="text" maxlen="100" value=mod.description %}
    {% include "parts/input_control.html" with text="头像" name="icon" type="text" maxlen="100" value=mod.icon %}
    {% include "parts/input_control.html" with text="性别" name="gender" type="number" maxlen="{{maxlen}}" value=mod.gender %}
    {% include "parts/input_control.html" with text="qq" name="qq" type="text" maxlen="20" value=mod.qq %}
    {% include "parts/input_control.html" with text="微信" name="wechat" type="text" maxlen="20" value=mod.wechat %}
    {% include "parts/input_control.html" with text="email" name="email" type="text" maxlen="254" value=mod.email %}
    {% include "parts/input_control.html" with text="出生日期" name="birthday" type="date" maxlen="{{maxlen}}" value=mod.birthday %}
    {% include "parts/input_control.html" with text="省" name="province" type="text" maxlen="20" value=mod.province %}
    {% include "parts/input_control.html" with text="市" name="city" type="text" maxlen="20" value=mod.city %}
    {% include "parts/input_control.html" with text="区县" name="county" type="text" maxlen="20" value=mod.county %}
    {% include "parts/input_control.html" with text="是否认证" name="is_verified" type="number" maxlen="{{maxlen}}" value=mod.is_verified %}
    {% include "parts/input_control.html" with text="真实姓名" name="real_name" type="text" maxlen="20" value=mod.real_name %}
    {% include "parts/input_control.html" with text="身份证号" name="id_number" type="text" maxlen="18" value=mod.id_number %}
    {% include "parts/input_control.html" with text="身份证照片" name="id_card" type="text" maxlen="100" value=mod.id_card %}
    {% include "parts/input_control.html" with text="是否身份认证" name="is_role_verified" type="checkbox" maxlen="{{maxlen}}" value=mod.is_role_verified %}
    {% include "parts/input_control.html" with text="身份" name="role" type="text" maxlen="20" value=mod.role %}
    {% include "parts/input_control.html" with text="工作证号" name="other_number" type="text" maxlen="20" value=mod.other_number %}
    {% include "parts/input_control.html" with text="工作证照片" name="other_card" type="text" maxlen="100" value=mod.other_card %}
    {% include "parts/input_control.html" with text="机构1" name="unit1" type="text" maxlen="20" value=mod.unit1 %}
    {% include "parts/input_control.html" with text="机构2" name="unit2" type="text" maxlen="20" value=mod.unit2 %}
    {% include "parts/input_control.html" with text="专业或职业" name="profession" type="text" maxlen="20" value=mod.profession %}
    {% include "parts/input_control.html" with text="积分" name="score" type="number" maxlen="{{maxlen}}" value=mod.score %}
    {% include "parts/input_control.html" with text="被举报次数" name="reported_count" type="number" maxlen="{{maxlen}}" value=mod.reported_count %}
    <tr>
        <td>eid信息：</td>
        <td>{{ mod.eid_issuer }}<br>{{ mod.eid_issuer_sn }}<br>{{ mod.eid_sn }}</td>
    </tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='user' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='user' rb='user' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
