
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:user:user_behavior' mod.id %}" method="post">
<table>
    <tr>
        <td>user：</td>
        <td><a href="{% url "admin:user:user" mod.user.id %}">{{ mod.user.id }}</a></td>
    </tr>
    {% include "parts/input_control.html" with text="behavior" name="behavior" type="text" maxlen="10" value=mod.behavior %}
    {% include "parts/input_control.html" with text="object_type" name="object_type" type="text" maxlen="20" value=mod.object_type %}
    {% include "parts/input_control.html" with text="object_id" name="object_id" type="number" maxlen="{{maxlen}}" value=mod.object_id %}
    {% include "parts/input_control.html" with text="time_created" name="time_created" type="datetime" maxlen="{{maxlen}}" value=mod.time_created %}
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='user' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='user' rb='user_behavior' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    
</style>
{% endblock %}
