
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:user:user_validation_code' mod.id %}" method="post">
<table>
    <tr><td>phone_number：</td><td><input name="phone_number" type="text" value="{{ mod.phone_number }}"  maxlength="11" /></td></tr><tr><td>code：</td><td><input name="code" type="text" value="{{ mod.code }}"  maxlength="6" /></td></tr><tr><td>time_expired：</td><td><input name="time_expired" type="datetime" value="{{ mod.time_expired }}" /></td></tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='user' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='user' rb='user_validation_code' %}{% endblock %}

{% block css %}
<style>
    form {
        padding: 30px;
    }
    form img {
        width: 100px;
        height: 100px;
    }
    td {
        padding: 5px 8px;
        vertical-align: top;
    }

    input[type=text], input[type=email], input[type=date], textarea {
        border: 2px solid #C5DBAD;
    }

    input[type=radio] {
        margin-right: 5px;
    }

    input[type=radio] ~ input {
        margin-left: 15px;
    }

    .buttons {
        float: right;
    }

    input[type=submit], input[type=reset] {
        border: 0 none;
        border-radius: 3px;
        padding: 2px 5px;
        background: #85A365;
        color: white;
        margin-left: 10px;
        margin-top: 10px;
    }

    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
