{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="" method="get">
    <span>团队名：</span><input type="text" name="name" value="{{name}}" />
    <span>所在省：</span><input type="text" name="province" value="{{province}}" />
    <span>所在市：</span><input type="text" name="city" value="{{city}}" />
    <span>所在区/县：</span><input type="text" name="county" value="{{county}}" />
    <span></span><input type="submit" class="mt-10 mr-5" value="搜索" /><input type="reset" class="mt-10 mr-10" value="取消" />
</form>
{% if list %}
<table style="width:1200px;margin:0 auto;">
    <thead>
        <tr>
            <th>ID</th>
            <th>团队名</th>
            <th>操作</th>
        </tr>
        {% for item in list.all %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td><a href="{% url redir item.id %}"><i class="icon Hui-iconfont">&#xe725;</i>查看</a></td>
        </tr>
        {% endfor %}
    </thead>
</table>
{% endif %}
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='team' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='team' rb=rb %}{% endblock %}

{% block css %}
{% include 'parts/table_style.html' %}
<style>
    
</style>
{% endblock %}
