
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<table style="margin:30px">
    {% if list.count == 0 %}
        <tr><td>无记录</td></tr>
    {% endif %}
    {% for item in list %}
        <tr>
            <td>团队名： </td>
            <td style="min-width: 200px;border:1px solid #C4D9AE;">{{ item.team.name }}</td>
            <td><a href="{% url 'admin:team:team_member_request' item.id %}"><i class="icon Hui-iconfont">&#xe725;</i>查看</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='team' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='team' rb='team_member_request' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
{% include 'parts/table_style.html' %}
{% endblock %}
