
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:team:team_achievement' mod.id %}" method="post">
<table>
    <tr><td>team：</td><td><a href="{% url "admin:team:team" mod.team.id %}">{{ mod.team.id }}</a></td></tr>{% include "parts/input_control.html" with text="description" name="description" type="textarea" maxlen="100" value=mod.description %}{% include "parts/input_control.html" with text="picture" name="picture" type="text" maxlen="100" value=mod.picture %}{% include "parts/input_control.html" with text="time_created" name="time_created" type="datetime" maxlen="{{maxlen}}" value=mod.time_created %}
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='team' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='team' rb='team_achievement' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
