
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:team:team' mod.id %}" method="post">
<table>
    <tr><td>所有者：</td><td><a href="{% url "admin:user:user" mod.owner.id %}">{{ mod.owner.id }}</a></td></tr>
    {% include "parts/input_control.html" with text="名字" name="name" type="text" maxlen="20" value=mod.name %}
    {% include "parts/input_control.html" with text="头像" name="icon" type="text" maxlen="100" value=mod.icon %}
    {% include "parts/input_control.html" with text="简介" name="description" type="text" maxlen="100" value=mod.description %}
    {% include "parts/input_control.html" with text="主页" name="url" type="text" maxlen="100" value=mod.url %}
    {% include "parts/input_control.html" with text="领域1" name="field1" type="text" maxlen="10" value=mod.field1 %}
    {% include "parts/input_control.html" with text="领域2" name="field2" type="text" maxlen="10" value=mod.field2 %}
    {% include "parts/input_control.html" with text="省" name="province" type="text" maxlen="20" value=mod.province %}
    {% include "parts/input_control.html" with text="市" name="city" type="text" maxlen="20" value=mod.city %}
    {% include "parts/input_control.html" with text="区县" name="county" type="text" maxlen="20" value=mod.county %}
    {% include "parts/input_control.html" with text="是否招人" name="is_recruiting" type="checkbox" maxlen="{{maxlen}}" value=mod.is_recruiting %}
    {% include "parts/input_control.html" with text="是否启用" name="is_enabled" type="checkbox" maxlen="{{maxlen}}" value=mod.is_enabled %}
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='team' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='team' rb='team' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
