
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:team:team_invitation' mod.id %}" method="post">
<table>
    <tr><td>团队：</td><td><a href="{% url "admin:team:team" mod.team.id %}">{{ mod.team.id }}</a></td></tr><tr><td>用户：</td><td><a href="{% url "admin:user:user" mod.user.id %}">{{ mod.user.id }}</a></td></tr>{% include "parts/input_control.html" with text="简介" name="description" type="text" maxlen="100" value=mod.description %}{% include "parts/input_control.html" with text="创建时间" name="time_created" type="datetime" maxlen="{{maxlen}}" value=mod.time_created %}
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='team' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='team' rb='team_invitation' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    
</style>
{% endblock %}
