
{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form role="form" action="{% url 'admin:team:team_tag' mod.id %}" method="post">
<table>
    {% include "parts/input_control.html" with text="name" name="name" type="text" maxlen="20" value=mod.name %}{% include "parts/input_control.html" with text="order" name="order" type="number" maxlen="{{maxlen}}" value=mod.order %}<tr><td>entity：</td><td><a href="{% url "admin:team:team" mod.entity.id %}">{{ mod.entity.id }}</a></td></tr>
    <tr>
        <td>{{ msg }}</td>
        <td>
            <div class="buttons">
                <input type="submit" value="保存" />
                <input type="reset" value="取消" />
            </div>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block topbar %}{% include 'topbar.html' with tb='user_admin' %}{% endblock %}
{% block leftbar %}{% include 'leftbar.html' with tb='user_admin' lb='team' %}{% endblock %}
{% block rightbar %}{% include 'rightbar.html' with tb='user_admin' lb='team' rb='team_tag' %}{% endblock %}

{% block css %}
{% include 'parts/input_style.html' %}
<style>
    input.tiny {
        width: 60px;
    }
</style>
{% endblock %}
